@import @styles/animations
@import @styles/constants

.home

    .backdrop
        position: fixed
        width: 100%
        height: 100%
        background-color: $color-black
        z-index: 10
        transition: opacity .5s ease
        animation-name: fade-out
        animation-delay: .4s
        animation-duration: .2s
        animation-direction: normal
        animation-fill-mode: forwards
        animation-play-state: paused

        &[data-show="false"]
            animation-play-state: running

        .switchWrapper
            position: absolute
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            animation-name: bounce-out
            animation-duration: .6s
            animation-direction: normal
            animation-fill-mode: forwards
            animation-play-state: paused

            &[data-show="false"]
                animation-play-state: running

    .content
        position: relative
        width: 100%
        min-height: 100vh
        z-index: 0

        .video
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

            @include for-ultrawide-desktop-up
                object-fit: contain

            @include for-big-desktop-only
                object-fit: cover

            @include for-desktop-only
                object-fit: cover

            @include for-mobile-down
                object-fit: cover
