@import @styles/constants

.menu
    position: fixed
    display: flex
    justify-content: space-between
    align-items: center
    left: 0
    right: 0
    z-index: 10
    @include centered-content

    @include for-desktop-up
        top: 48px

    @include for-mobile-down
        top: 16px
        max-width: 90%
