@import @styles/constants

.menu
    position: fixed
    display: flex
    justify-content: space-between
    align-items: center
    top: 48px
    left: 0
    right: 0
    z-index: 10
    @include centered-content
