@import @styles/animations
@import @styles/constants

.contactForm
    display: flex
    flex-direction: column

    @include for-big-desktop-up
        gap: 32px

    @include for-desktop-only
        gap: 16px

    @include for-mobile-down
        gap: 16px

    .field
        width: 100%
        padding: 4px 5px
        border-radius: 100px
        box-sizing: border-box
        animation-name: gradient-flow
        animation-duration: 4s
        animation-fill-mode: forwards
        animation-iteration-count: infinite
        animation-play-state: paused
        animation-timing-function: linear

        &:focus-within
            animation-play-state: running

        input
            background-color: #ffffff
            border: 0
            outline: 0
            border-radius: 100px
            font-family: inherit
            width: 100%
            box-sizing: border-box

            @include for-big-desktop-up
                padding: 24px 48px
                font-size: 1.6rem

            @include for-desktop-only
                padding: 16px 24px
                font-size: 1.2rem

            @include for-mobile-down
                padding: 12px 24px
                font-size: 1.2rem

    .helperText
        font-size: 1rem
        line-height: 1.2
        text-align: right
        align-self: flex-end
        color: #ffffff

    .btoSubmit
        display: block
        position: relative
        background: none
        border: 0
        width: 64px
        height: 64px
        align-self: flex-end

        > *:first-child
            transition: transform .4s ease

        &:disabled > *:first-child
            transform: translateX(32px)
