@import @styles/animations
@import @styles/constants

.contact
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: flex
    align-items: center
    height: 100vh
    background-color: $color-black
    z-index: 10
    clip-path: circle(0%)

    .content
        display: flex
        @include centered-content

        @include for-desktop-up
            align-items: flex-end
            justify-content: space-between
            gap: 15%
            box-sizing: border-box

        @include for-mobile-down
            align-items: flex-start
            flex-direction: column
            justify-content: center
            row-gap: 3vh

        .lettering
            color: #ffffff
            text-transform: lowercase
            font-weight: 700
            margin-bottom: -3%

            @include for-big-desktop-up
                font-size: 10rem
                line-height: 1.2

            @include for-desktop-only
                font-size: 8vw
                line-height: 1

            @include for-mobile-down
                font-size: 3.8rem
                line-height: 1.3

            .gradient
                @include for-big-desktop-up
                    margin: -4.2rem 0 0

                @include for-desktop-only
                    margin: -4vh 0 0

                @include for-mobile-down
                    margin: -2rem 0 0

                @include gradient-animation-properties

        .form
            @include for-desktop-up
                flex: 1 1 0

            .footer
                text-align: right
                color: #ffffff

                @include for-big-desktop-up
                    margin-top: 48px

                @include for-desktop-only
                    margin-top: 24px
