@import @styles/animations
@import @styles/constants

.contact
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-height: 100%
    clip-path: circle(0%)
    transition: clip-path 1.4s ease
    background-color: $color-black
    z-index: 10

    .content
        display: flex
        align-items: flex-end
        justify-content: space-between
        gap: 15%
        height: 85vh
        @include centered-content

        .lettering
            font-size: 8vw
            color: #ffffff
            text-transform: lowercase
            font-weight: 700
            line-height: 1

            .gradient
                margin: -4vh 0
                @include gradient-animation-properties

        .form
            flex: 1 1 0

            .footer
                text-align: right
                margin-top: 48px
                color: #ffffff
