@import @styles/animations
@import @styles/constants

.contact
    .content
        display: flex
        align-items: flex-end
        justify-content: space-between
        gap: 15%
        height: 85vh
        @include centered-content

        .lettering
            font-size: 8vw
            color: #ffffff
            text-transform: lowercase
            font-weight: 700
            line-height: 1

            .gradient
                margin: -4vh 0
                @include gradient-animation-properties

        .contact
            flex: 1 1 0

            .footer
                text-align: right
                margin-top: 48px
                color: #ffffff
