$handler-size: 120px

.switch
    position: relative
    width: 600px
    height: $handler-size
    border-radius: $handler-size
    padding: 6px 16px 8px 12px
    background: rgb(15,17,19)
    background: linear-gradient(180deg, rgba(15,17,19,1) 0%, rgba(28,33,34,1) 100%)
    max-width: 90%
    box-shadow: -18px -13px 28px 0px rgba(255,255,255,0.1), 7px 15px 38px 0px rgba(0,0,0,0.89)
    border: #191b1d solid 5px
    border-left: 3px
    border-top: 3px
    overflow: hidden

    .activeBackground
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgb(224,177,55)
        background: linear-gradient(115deg, rgba(224,177,55,1) 0%, rgba(234,93,72,1) 42%, rgba(101,190,203,1) 84%)
        opacity: 0

    .poweredOn,
    .poweredOff
        position: absolute
        top: 0
        height: 100%
        display: flex
        align-items: center
        font-size: 3rem
        font-weight: 700
        text-transform: uppercase
        box-sizing: border-box
        overflow: hidden
        padding: .5rem 3rem 0
        letter-spacing: .6rem
        white-space: nowrap
        background-clip: text
        -webkit-text-fill-color: transparent
        text-fill-color: transparent

    .poweredOn
        left: 0
        width: 0%
        justify-content: flex-start
        background-image: linear-gradient(125deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(70,70,70,1) 60%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%)

    .poweredOff
        right: 0
        width: 100%
        justify-content: flex-end
        background-image: linear-gradient(125deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(70,70,70,1) 60%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%)

    .handler
        position: relative
        height: $handler-size
        width: $handler-size
        border-radius: 100%
        background-color: #0b0a0a
        cursor: move
        box-shadow: inset -7px -5px 24px 11px #24201E, 2px 3px 0px 3px #121109, 5px 15px 30px 9px #000000
