$handler-size: 40px

.switch
    width: 300px
    height: $handler-size
    border-radius: $handler-size
    padding: 8px
    background-color: #ffffff

    .handler
        position: relative
        height: $handler-size
        width: $handler-size
        border-radius: 100%
        background: red
        cursor: move
