@keyframes there-and-back-again-right
    0%, 30%
        left: 0%

    10%, 20%
        left: 20%

@keyframes bounce-out
    0%
        transform: scale(1)

    65%
        transform: scale(1.2)

    100%
        transform: scale(0)
        display: none

@keyframes fade-out
    0%
        opacity: 1

    100%
        opacity: 0
        display: none

@keyframes gradient-flow
    0%, 100%
        background-image: linear-gradient(-45deg, #d6a50d, #ee7752, #e73c7e, #08678a, #23a6d5, #23d5ab, #23d5ab, #23a6d5, #e73c7e, #ee7752, #d6a50d)
        background-size: 400% 400%

    0%
        background-position: 0% 50%

    100%
        background-position: 130% 50%
