$path-fonts: "/fonts"

$color-black: #16181a

@mixin for-ultrawide-desktop-up
    @media screen and (min-aspect-ratio: 2/1)
        @content

@mixin for-big-desktop-only
    @media screen and (min-width: 1441px) and (max-width: 1920px)
        @content

@mixin for-big-desktop-up
    @media screen and (min-width: 1441px)
        @content

@mixin for-desktop-only
    @media screen and (min-width: 1200px) and (max-width: 1440px)
        @content

@mixin for-desktop-up
    @media screen and (min-width: 1200px)
        @content

@mixin for-mobile-down
    @media screen and (max-width: 600px)
        @content

@mixin centered-content
    margin: 0 auto
    width: 100%
    box-sizing: border-box

    @include for-big-desktop-up
        max-width: 1600px

    @include for-desktop-only
        max-width: 1080px

    @include for-mobile-down
        max-width: 90%
