$path-fonts: "/fonts"

$color-black: #16181a

@mixin centered-content
    margin: 0 auto
    width: 100%
    padding: 0 15%
    box-sizing: border-box

@mixin gradient-animation-properties
    animation-name: gradient-flow
    animation-duration: 5s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-play-state: running
    animation-timing-function: linear
